{% extends "layout.html.twig" %}
{% trans_default_domain 'AppBundle' %}

{% block title %}Africa news{% endblock %}

{% block body %}
    <nav class="navbar navbar-default">

        <div class="container container-small">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">afriquenews</a>
            </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">NEWS</a></li>
                <li><a href="#">BUSINESS</a></li>
                <li><a href="#">POLITICS</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
        </div>
    </nav>


    <main>
        <div class="page-header">
            <div class="container container-small">
                <h1>News<br>
                    <small>From africa for africans</small>
                </h1>
            </div>
        </div>

        <div class="container container-small">
            {%  for article in articles %}
                <article class="article">
                    <header class="article__header">
                        <h3 class="article__title">
                            <a href="{{ article.url }}" target="_blank">{{ article.title|raw }}</a>
                        </h3>
                        <div class="article__meta">
                            <a href="{{ article.channel.url }}" target="_blank">{{ article.channel.name }}</a> &centerdot;
                            {{ article.publishedAt|date("d/m/Y") }}
                        </div>
                    </header>
                    <div>
                        {{ article.content|raw }}
                    </div>
                </article>
            {% endfor %}
        </div>
    </main>
{% endblock %}
