<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Welcome to afriquenews!{% endblock %}</title>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,follow">
    <!-- Meta -->
{% block metainformations %}
    <meta name="description" content="Real time news about africa from africans">
{% endblock %}
    <!-- Open Graph Protocol -->
{% block opengraphs %}{% endblock %}
    <!-- Colors & Favicons -->
    <meta name="theme-color" content="#FCE200">
    <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon-precomposed.png') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    <!-- Stylesheet -->
{% block stylesheets %}{% endblock %}
{% block javascripts_head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>