{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <style type="text/css">
        @media (min-width: 768px) {
            .container-small {
                width: 300px;
            }
            .container-large {
                width: 970px;
            }
        }
        @media (min-width: 992px) {
            .container-small {
                width: 500px;
            }
            .container-large {
                width: 1170px;
            }
        }
        @media (min-width: 1200px) {
            .container-small {
                width: 700px;
            }
            .container-large {
                width: 1500px;
            }
        }

        .container-small, .container-large {
            max-width: 100%;
        }

        .article {
            border-bottom: 1px solid #EFF3F6;
            padding: 5rem 0;
        }

        .article::after {
            content: '';
            display: block;
            clear: both;
        }

        .article img {
            float: left;
            margin-right: 1.5rem;
        }

        .article__header {
            margin-bottom: 1.5rem;
        }

        .article__title {
            font-size: 2.5rem;
        }

        .article__meta {
            margin-top: 1rem;
        }

        .article__meta,
        .article__meta a {
            color: rgba(0,0,0, 0.40);
        }
    </style>
{% endblock %}