{% extends 'base.html.twig' %}

{% block body %}
    <h1>Channels list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Language</th>
                <th>Description</th>
                <th>Url</th>
                <th>Feed</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Fetchedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for channel in channels %}
            <tr>
                <td><a href="{{ path('channel_show', { 'id': channel.id }) }}">{{ channel.id }}</a></td>
                <td>{{ channel.name }}</td>
                <td>{{ channel.language }}</td>
                <td>{{ channel.description }}</td>
                <td>{{ channel.url }}</td>
                <td>{{ channel.feed }}</td>
                <td>{% if channel.createdAt %}{{ channel.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if channel.updatedAt %}{{ channel.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if channel.fetchedAt %}{{ channel.fetchedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('channel_show', { 'id': channel.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('channel_edit', { 'id': channel.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('channel_create') }}">Create a new channel</a>
        </li>
    </ul>
{% endblock %}
