{% extends 'base.html.twig' %}

{% block body %}
    <h1>Channel</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ channel.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ channel.name }}</td>
            </tr>
            <tr>
                <th>Language</th>
                <td>{{ channel.language }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ channel.description }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ channel.url }}</td>
            </tr>
            <tr>
                <th>Feed</th>
                <td>{{ channel.feed }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if channel.createdAt %}{{ channel.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if channel.updatedAt %}{{ channel.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fetchedat</th>
                <td>{% if channel.fetchedAt %}{{ channel.fetchedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('channel_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('channel_edit', { 'id': channel.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
